
.AboutMeContentColor{  color:#b4d2ff;}
.font{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.icon{
  color:#768CA4;
}
.icon:hover{
  color: #5D739D;
  transform: rotate(15deg);
}

#Cardbottom{
  color: red;
}

.cardCustomize{
    margin: 1rem;
    border-radius: .6rem;
    border: 3px solid;
    border-color: #EF9A4B;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    align-content: space-between;
    color: #EF9A4B;
    background-color: #2E3440;
}

.searchBar{
    float: right;
    display: flex;
    
}

.footerIcon{display: inline-block; padding: 0px 12px}
.footerStyle{color:#9A9DA0;text-align: center}