
.contentColor{  color:#b4d2ff;}
.font{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}
.fontProject{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.icon{
  color:#768CA4;
}
.icon:hover{
  color: #5D739D;
  transform: rotate(15deg);
}

.footIcon{color:#9A9DA0}
.footIcon:hover{
color:#b9b8b8
}
#Cardbottom{
  color: red;
}
.titleColor{color:#e4f0fbe3;}
.titlePosition{padding-bottom: 45px;}

.cardCustomize{
    margin: 1rem;
    border-radius: .6rem;
    border: 3px solid;
    border-color: #5d98b8;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    align-content: space-between;
    color: #9A9DA0;
    background-color: #2E3440;
}

.searchBar{
    float: right;
    display: flex; 
}

.footerIcon{display: inline-block; padding: 0px 12px}
.footerStyle{color:#9A9DA0;text-align: center}
.restParts{color: #e4f0fbe3;}